/*Forçando o footer para ele ficar "colado" na parte de baixo*/
/*Não coloquei margin-bottom, pois ele ia cortar a imagem e a margem ia ser para fora*/
.banner {
    padding-bottom: 7%;
    background-attachment: scroll;
}

/*Inicio do Login*/
.form {
    margin-top: 7%;
    background-color: #cdcdcd;
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
    color: #db7093;
    border-radius: 5px;
}

.label {
    font-size: 18px;
    margin: 0;
}

input {
    border: solid 1px #32abb1;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

button {
    background-color: #e6005a;
    color: white;
    border: 0;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

.bnt_center{
    display: flex;
    justify-content: center;
}

/*Fim do Login*/